body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.AppCard {
  margin: auto;
  margin-bottom: 20px;
  max-width: 1000px;
}

.Content {
  padding: 20px;
}

.Sidebar {
  width: 300px;
}

.Progress {
  height: 300px !important;
  width: 300px !important;
  position: relative !important;
  left: calc(50% - 150px) !important;
}
